# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg
MANIFEST

archive/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
*.cover
*.log
tests/.coverage
tests/.coverage.*
test_results/
htmlcov/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Python environment variables
.env
*.env

# Pytest cache
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# PyCharm
*.iml
*.ipr
*.iws
.idea/
*.pyc
__pycache__/

# Virtual environments
venv/
ENV/
env/
*.egg-info/